<!DOCTYPE html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="loginpage.css">
</head>
<body background="./image/background-learner1.jpg" >
    <div class="sequrebox">
        <img src="./image/WhatsApp Image 2022-05-18 at 1.15.14 PM.jpeg" class="logo">
        <center><h2>Login</h2></center>
        <form name="myform">
          
            <p style="color:orangered;">Username</p>
            <input type="text" placeholder="Username">

            <p style="color: orangered;">Password</p>
            <input type="password" placeholder="Password">
         <div>
            <input type="submit" value="Login">
            </div> 
         <br><br>
         <h5>SignUp</h5>

         
        </form>
    </div>
    <a href="homepage.html"><h2>Home</h2></a>

</body>