<body>
    <center>
             <h1 style="color:blue"> WELCOME! </h1>
             <h3>Welcome to verifictation!</h3>
             <img src="https://media.istockphoto.com/photos/sending-email-concept-picture-id1331326321?b=1&k=20&m=1331326321&s=170667a&w=0&h=Kgd8anBhjYy_-P1-vE5h4meJ9EdBQyAhqoY6efwnJ3U=", width="350" height="150">
             <div><h4>click on the button</h4>
             <button><a href=http://localhost:8080/api/v1/user/activate/<%=detail.Name%>>activate</a></button>
    </center>
</body> 
